body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 50px;
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navb a{
  color: #ffffff;
}
.post{
  margin-bottom: 20px;
}
.post h5{
  color: #6d0000;
}
.post img{
  width: 100%;
}
/* .contain {
display: flex;
flex-direction: column;
} */
footer {
  height: 50px;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom:0;
}
.articles{
  color: #6d0000;
  margin-top: 10px;
  margin-bottom: 10px;
}